/* 2024 Arnaud Champollion, licence GNU/GPL 3.0 */

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  background-color: #ebe9f9;
  text-align: left;
}

#titre {
  width: 100%;
  background: linear-gradient(to bottom, #ebe9f9 0%,#d8d0ef 50%,#cec7ec 51%,#c1bfea 100%);
  border-radius: 5px;  
}

#titre span {
  vertical-align: middle;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

#img-logo {
  height: 60px;
  margin: 5px;
  vertical-align: middle;
}


#donnees {
  width: 100%;
  background: linear-gradient(to bottom, #ebe9f9 0%,#d8d0ef 50%,#cec7ec 51%,#c1bfea 100%);
  border-radius: 5px;
  overflow-x: scroll;
  white-space: nowrap;
}

#repartition {
  background: linear-gradient(to bottom, #ebe9f9 0%,#d8d0ef 50%,#cec7ec 51%,#c1bfea 100%);
  border-radius: 5px;
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
}

#boutons {
  text-align: left;
  font-size: 18px;
  margin: 10px;
}

#boutons input {
  font-size: 18px;
  width: 2em;
  text-align: center;
}

#boutons button {
  font-size: 18px;
  padding-left: 30px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 5px;
  border-radius: 5px;
}

#bouton-repartir {
  background-image: url(images/logo.svg);
}

#bouton-csv {
  background-image: url(images/csv.svg);

}

.groupe, .groupe-reparti {
  position: relative;
  text-align: left;
  width: 15em;
  height: 20em;
  margin: 10px;
  vertical-align: middle;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.zone-titre {
  display: block;
  border: none;
  width: calc(100% - 12px);
  height: 20px;
  margin-bottom: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 5px;  

}

.zone-texte {
  resize: none;
  border: none;
  width: calc(100% - 12px);
  height:  calc(100% - 54px);
  margin: 0;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: #ffffff;  
  padding: 5px;  

}

#bouton-plus {
  vertical-align: middle;
  font-size: 24px;
}

#bouton-tableur {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  vertical-align: middle;
  margin-left: 30px;
  padding-left: 30px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 5px;
  border-radius: 5px;
  background-image: url(images/fromtableur.svg);
}

#bouton-download {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  vertical-align: middle;
  margin-left: 30px;
  padding-left: 30px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 5px;
  border-radius: 5px;
  background-image: url(images/download.svg);
}

.bouton-moins {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 32px;
  height: 32px;
}

.groupe:first-of-type > .bouton-moins {
  display: none;
}



.lightbox {
  position: fixed;
  top: 50%;
  left: 50%;
  min-height: 400px;
  max-height: 80%;
  min-width: 400px;
  max-width: 80%;
  transform: translateX(-50%) translateY(-50%);
  border: 10px solid rgba(255, 255, 255, 0.5);
  background: linear-gradient(to bottom, #ebe9f9 0%,#d8d0ef 50%,#cec7ec 51%,#c1bfea 100%);
  border-radius: 5px;
  padding: 10px;
  background-clip: padding-box;
  overflow-y: scroll;
}

.lightbox h1 {
  margin-top: 0;
}

#choix-csv {
  text-align: center;;
}

.lightbox img {
  width: 200px;
  vertical-align: middle;
}

#tableur img {
  width: calc(100% - 8px);
}

#zone-collage {
  resize: none;
  width: calc(100% - 10px);
  height: 200px;
}

#a-propos img {
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 10px;
}



.choix {
  display: inline-block;
  vertical-align: top;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.choix button {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.hide {
  display: none;
}

.bouton-fermer {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 35px;
  width: 35px;
  background-image: url(images/fermer.svg);
  background-size: contain;
  border: none;
  background-color: transparent;
  outline: none;
  vertical-align: middle;

}

#bouton-a-propos {
  float: right;
  width: 60px;
  height: 60px;
  background-color: transparent;
  background-image: url(images/question.svg);
  background-size: contain;
  border: none;
  outline: none;
  vertical-align: middle;

}

#bouton-rgpd {
  float: right;
  position: relative;
  top: 5px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  background-image: url(images/rgpd.svg);
  background-size: contain;
  border: none;
  outline: none;
  vertical-align: middle;
}